@import 'tailwindcss';

/* #region CSS variables */

:root {
  /* Palette */
  --color-white: white;
  --color-blue: #0d94f4;
  --color-blue-light: #7fcaff;

  /* Theme colours */
  --color-background: #fbfaf9;
  --color-text-primary: #37352f;
  --color-text-secondary: #7e7e7e;
  --color-text-link: var(--color-blue);
  --color-grey-lightest: #eee;
  --color-grey-light: #e2e2e2;

  /* Other */
  --color-social-x: #0e1417;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Theme colours */
    --color-background: #1b1a1a;
    --color-text-primary: var(--color-white);
    --color-text-secondary: #ddd;
    --color-text-link: var(--color-blue-light);
    --color-grey-lightest: #2e2e2e;
    --color-grey-light: #545454;

    /* Other */
    --color-social-x: #3e4447;
  }
}

/* #endregion */
/* #region Tailwind theme */

@theme inline {
  /* Colours */
  --color-background: var(--color-background);
  --color-primary: var(--color-text-primary);
  --color-secondary: var(--color-text-secondary);
  --color-link: var(--color-text-link);
  --color-grey-light: var(--color-grey-light);
  --color-grey-lightest: var(--color-grey-lightest);
  --color-social-x: var(--color-social-x);

  /* Typography */
  --font-display: 'Inter', -apple-system, sans-serif;
  --font-body: 'Inter', -apple-system, sans-serif;
  --font-system: -apple-system, sans-serif;
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;

  /* Spacing */
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-30: 30px;
  --spacing-40: 40px;
  --spacing-60: 60px;
  --spacing-80: 80px;
  --spacing-85: 85px;
  --spacing-140: 140px;
  --spacing-180: 180px;
  --spacing-325: 325px;
  --spacing-560: 560px;
  --spacing-1800: 1800px;
}

/* #endregion */

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
