@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colours */
  --color-background: #fbfaf9;
  --color-text-primary: #37352f;
  --color-text-secondary: #b3b3b3;
  --color-grey-light: #ececec;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colours */
    --color-background: #1b1a1a;
    --color-text-primary: white;
    --color-text-secondary: #ddd;
    --color-grey-light: #545454;
  }
}

body {
  @apply bg-background;
}
